# Data Types and Structures

1.  What are data structures, and why are they important ?

- Data structures are ways to store and organize data so we can use it efficiently. They help us write better,
 faster, and easier-to-understand code .


  2. Explain the difference between mutable and immutable data types with examples.

-  Mutable means you can change the data after its created (like a list), and immutable means you cant (like a
 string or tuple).
 Example:-  
-Mutable: my_list = [1, 2]; my_list[0] = 99
- Immutable: my_str = "hello"; my_str[0] = "H"  this gives an error.


 3. What are the main differences between lists and tuples in Python?
 - Lists can be changed (mutable), tuples cant (immutable).
 - Lists use square brackets [ ], tuples use parentheses ( ).
 - Tuples are usually faster and used  when you want to protect data.

 4. Describe how dictionaries store data.

 - Dictionaries store data in key-value pairs. Each key points to a value, like a label on a drawer telling you whats inside.

5. Why might you use a set instead of a list in Python?
- Sets automatically remove duplicates and are faster when checking if something exists. Great when you want unique items.


 6. What is a string in Python, and how is it different from a list?
 - A string is a sequence of characters (like text). A list can hold any data types, not just characters. Also, strings are immutable, but lists are not.


 7. How do tuples ensure data integrity in Python?
 - Since tuples cant be changed, they keep the data safe from being modified accidentally. This is useful when you want constant values.


 8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a way to store data using a unique key. Python dictionaries use hash tables behind the
 scenes to make looking up values fast.

 9. Can lists contain different data types in Python?
 - Yes! A list can hold numbers, strings, other lists, or anything else.
 Example: [1, "hello", [2, 3]]

 10. Explain why strings are immutable in Python.
  
- Strings cant be changed to keep things simple and safe. If you change a string, Python makes a new one
 instead.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are great for fast lookups when you know the key. You dont need to search through every item
 like in a list.

12. Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple when storing data that shouldnt changelike coordinates (x, y), dates, or keys for a dictionary.

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicates. If you add the same item twice, it only keeps one.

14. How does the "in" keyword work differently for lists and dictionaries?
- In a list: checks if the value is there.- In a dictionary: checks if the *key* is there, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cant. Tuples are immutable, so once theyre made, you cant change any of their values.


 16. What is a nested dictionary, and give an example of its use case?
 - Its a dictionary inside another dictionary.
 Example: {"student": {"name": "Anna", "age": 20}}
 Use it to organize complex data, like storing student profiles.

 17. Describe the time complexity of accessing elements in a dictionary.
 - Usually, its O(1), which means its super fast and doesnt depend on how big the dictionary is.

 18. In what situations are lists preferred over dictionaries?
 - When you just need to store items in order and dont need to label them. Like a to-do list or shopping list.

 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Before Python 3.7, dictionaries didnt keep the order of items. Now they do, but we still think of them as
 unordered because we access data by keys, not position.

 20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - Lists use index numbers to get data (like my_list[0]).
 -Dictionaries use keys (like my_dict["name"]), which can be more readable and faster for some tasks.



# Practical Questions and Answers

In [ ]:
# 1. Write a code to create a string with your name and print it.

name = "Krish"
print(name)

Krish

In [ ]:
# 2. Write a code to find the length of the string "Hello World".

string = "Hello world"
print(len(string))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
print(string[:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.

string = "hello"
print(string.upper())

HELLO

In [ ]:
#  5. Write a code to replace the word "apple" with "orange" in the string "I like apple".



string = 'I like apple'
print(string.replace("apple", "orange"))

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1 , 2 , 3 , 4 , 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1 , 2 , 3 , 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1 , 2 , 3 , 4 , 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a' , 'b', 'c' , 'd']
print(letters[1])

b

In [ ]:
# 10.  Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10 , 20 , 30 , 40 , 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers = (100 , 200 , 300)
print(numbers)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red' , 'green' , 'bule' , 'yellow')
print(colors[-2])

bule

In [ ]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10 , 20 , 5 , 15)
print(min(numbers))

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat' , 'rabbit')
print(animals.index('cat'))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple' , 'banana' , 'orange')
print('kiwi' in fruits)

False

In [ ]:
#  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a' , 'b' , 'c'}
print(letters)

{'c', 'a', 'b'}

In [5]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1 , 2 , 3 , 4 , 5}
numbers.clear()
print(numbers)

set()

In [8]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2 , 3 , 4}
my_set.discard(4)
print(my_set)

{1, 2, 3}

In [10]:
#  19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1 , 2 , 3}
set2 = {3 , 4 , 5}
print(set1.intersection(set2))

{3}

In [11]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1 , 2 , 3}
set2 = {2 , 3 , 4}
print(set1.intersection(set2))

{2, 3}

In [12]:
#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {'name': 'Krish' , 'age': 15 , 'city': 'Ahmedabad'}
print(person)

{'name': 'Krish', 'age': 15, 'city': 'Ahmedabad'}

In [13]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John' , 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [14]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice' , 'age': 30}
print(person['name'])

Alice

In [15]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob' , 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [16]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice' , 'city': 'Paris'}
print('city' in person)

True

In [17]:
#  26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1 , 2, 3]
my_tuple = (4 , 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [24]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

import random
random_numbers = []
for _ in range(5):
  num = random.randint(1 , 100)
  random_numbers.append(num)
  print("Sorted list:", random_numbers)

Sorted list: [73]
Sorted list: [73, 11]
Sorted list: [73, 11, 33]
Sorted list: [73, 11, 33, 69]
Sorted list: [73, 11, 33, 69, 68]

In [25]:
# 28. Write a code to create a list with strings and print the element at the third index.

words = ['apple', 'banana' , 'cherry', 'data']
print(words[3])

data

In [26]:
#  29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [27]:
#  30. Write a code to convert a list of strings into a set.

words = ['apple', 'banana' , 'cherry']
word_set = set(words)
print(word_set)

{'banana', 'cherry', 'apple'}